*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.content {
  max-width: 60ch;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.content:not(h1, h2, h3, h4, h5, h6) {
  line-height: 1.5;
}

li {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a:not(:hover) {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.post {
  display: flex;
}

.date {
  width: 4rem;
}

.footer-links {
  margin-top: 2rem;
}

.footer-links a {
  margin-right: 1rem;
}
